/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

/* Start: Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #f0f0f0;
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
}
/* End: Global Styles */
